*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.plabon {
    width: 500px;
    margin: auto;
    margin-top: 150px;
}

.niloy {
    width: 500px;
    margin: 50px auto;
    background: red;
    padding: 12px;
}

.plabon {
    background: green;
    padding: 12px;
}